@import '../../styles/variables.scss';

@mixin handleHover {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.list-cart {
  &__btn-cart {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__offcanvas {
    font-size: 12px;
    border: 0 !important;

    width: 40vw !important;

    @include mobile {
      width: 85vw !important;
    }

    @include tablet {
      width: 70vw !important;
    }

    &__body {
      &__image img {
        width: 100%;
      }

      &__product {
        &__title {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 5px;

          @include handleHover;
        }

        &__content {
          p {
            margin-bottom: 3px;
            letter-spacing: 0.05rem;
          }

          &__color-size {
            text-transform: uppercase;
          }
        }
      }

      &__function {
        letter-spacing: 0.07rem;

        &__price {
          margin-bottom: 0;
        }

        &__number {
          span {
            @include handleHover;
          }
        }

        &__btn-remove {
          @include handleHover;
        }
      }
    }

    &__footer {
      height: 300px;
      width: 100%;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;

      &__total {
        &__detail {
          font-size: 10px;
          font-weight: 200;
        }

        &__total-price {
          font-size: 14px;
          margin: 15px 0;
        }

        &__checkout {
          input {
            font-size: 13px;
            font-weight: 300;
            letter-spacing: 0.07rem;
            border-radius: 0;

            &:focus {
              outline: none;
            }
          }
        }

        &__btn {
          width: 100%;
          color: white;
          background-color: var(--color-black);
          border: 0;
          height: 40px;
          margin-top: 15px;
        }
      }
    }
  }
}

.badge-custom {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-size: 10px;
  background: var(--color-grey);
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: 1px;
}
