.navbar__item {
  margin-left: 30px;

  a {
    text-decoration: none;
    color: var(--color-black);

    &:hover {
      color: var(--color-black);
      text-decoration: underline;
    }
  }
}

.badge-custom {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-size: 10px;
  background: var(--color-grey);
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: 1px;
}
