@import '../../../styles/variables.scss';

$marginWith: 10px;

.navbar__item {
  margin-left: $marginWith * 3;

  @include mobile {
    margin-left: $marginWith;
  }

  @include tablet {
    margin-left: $marginWith * 2;
  }

  a {
    text-decoration: none;
    color: var(--color-black);

    &:hover {
      color: var(--color-black);
      text-decoration: underline;
    }
  }

  button {
    background-color: transparent;
    border: 0;
  }
}
